body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 100px auto 0px;
}
.calculator {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  border: 2px solid black;
  padding: 20px;
  margin: auto;
  width: 250px;
  background-color: lightpink;
}

.display {
  display: flex;
  align-content: flex-end;
  justify-content: end;
  flex-direction: column;
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px;
  background-color: whitesmoke;
}
.equation {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 10px 0px;
  justify-content: flex-end;
  align-items: flex-start;
}

.total {
  display: flex;
  flex-direction: row;
  margin: 0px;
  justify-content: flex-end;
  align-items: flex-end;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: center;
}

.clear-deleteButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.number-operatorButtons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 5px;
}

button {
  border-radius: 30%;
  background-color: thistle;
  padding: 3px;
}

#equalSign {
  background-color: cornflowerblue;
}
